.header-bar {
  text-align: right;
  padding-top: -2px;
  padding-bottom: 8px;
}

.header-bar {
  *zoom: 1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.82353em;
  font-weight: 700;
  font-style: normal;
  background-color: #ebebeb;
  color: #0f0d0d;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}
*,
input,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  display: block;
}
body,
input,
textarea,
button,
select {
  font-size: 18px;
  line-height: 1.7;
  font-family: Abel, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
